<h2 class="section-title">{{ .titles.about }}</h2>

<p>Tensor (array) computation has long been synonymous with computational science, but with the advent of deep learning it has become truly ubiquitous. Numerous new libraries have seen the light, while some older packages such as NumPy have been actively improved.</p>
<p>We notice certain tendencies in this area of software development:</p>

<ol class="highlighted-list">
<li>The wheel is often reinvented, with old lessons being re-learned the hard way.</li>
<li>Challenges pervasive to the entire collection are solved separately in different, sometimes sub-optimal ways.</li>
<li>APIs are developed independently and often organically, which increases the burden on adoption and interoperability.</li>
</ol>

<p>We would like to address the above challenges and opportunities by <b>bringing together members from the various tensor computation libraries for two days of talks and discussions</b>. The aim is to surface common opportunities/concerns such as the above, and identify ways to address them.</p>

<h3 id="target-audience">Target audience</h3>

<p>
<ul class="highlighted-list">
<li>Developers and project managers of tensor computation libraries</li>
<li>Advanced consumers of these libraries</li>
</ul>
</p>

<h3 id="expected-outcomes">Expected outcomes</h3>
<p>
<ul class="highlighted-list">
<li>A white paper outlining general array challenges</li>
<li>Joint projects to solve tensor challenges</li>
<li>A better connected tensor developer community</li>
</ul>
</p>
