<h2 class="section-title">{{ .titles.organizers }}</h2>

<ul class="organizer-list">
  {{ range $team := .organizers }}
    <div class="organizing-team">
      <h3>{{ .team }}</h3>
      {{ range $organizer := $team.members }}
        <li class="organizer-item" itemprop="performer" itemscope itemtype="http://schema.org/Person">
          {{ with .photo }}
            <span class="organizer-photo">
              <img class="photo" src="{{ . }}" alt="{{ $organizer.name }}" itemprop="image">
            </span>
          {{ end }}

          <div class="organizer-name">{{ .name }},
            <span class="organizer-affiliation"> {{ .affiliation }} </span>
            {{ with .link }}
            <a href="{{ .href }}" title="{{ .text }}"> {{ .text }} </a>
            {{ end }}
          </div>
        </li>
        {{ end }}
      </div>
    {{ end }}
</ul>

<p>You may contact the organizers at <a href="mailto:stefanv@berkeley.edu">stefanv@berkeley.edu</a>.</p>
